extends layout

block script
  script(src="https://unpkg.com/@rive-app/canvas@1.1.9")
  script(src='/javascripts/riveScript.js')
block content 

  #sidebar-container
    include sidebar.pug
  #main-content
    if notes.length===0
      div.canvas_container
        <canvas id="canvas" width="400" height="400"></canvas>
    if notes.length!==0
      h1(style="color:dimgray; text-align:center; margin-top:0px")= selectedCategory
    
    div.note-card-container
        each note in notes
          a(href=selectedCategoryId+'/note/'+note._id)
            div.note-card
                h2.note-title #{note.title}
                p.note-details #{note.details}
    a.createBtn(href=selectedCategoryId+'/create') Create Note
  script.
    const createBtn = document.querySelector('.createBtn');
    const notesContainer = document.querySelector('.note-card-container');
    const notesCount = notesContainer.childElementCount;
    if(notesCount<3){
      createBtn.classList.add('fixed_position');
    }else{
      createBtn.classList.remove('fixed_position');
    }